SUPABASE_URL=sb_publishable_IGJ-RkZ6AX_s9OxKTj-vDg_R7LWQEB-
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtqZ2Rjandkc3lkZmRlbHp1aGpjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE2MzkyNjIsImV4cCI6MjA5NzIxNTI2Mn0.ty0X6fqw1cp52uyU3KbZjXbTFLtO3rmo9oh0I3RecDA
#  Z-API

ZAPI_INSTANCE_ID=SUA_INSTANCE_ID
ZAPI_TOKEN=SEU_TOKEN
ZAPI_CLIENT_TOKEN=SEU_CLIENT_TOKEN 
